
<mat-form-field appearance="fill">
  <mat-label class="label-house">Выберите дом</mat-label>
  <mat-select [(value)]="idSelectHouse" (valueChange)="ChangeOpt()">
    <mat-option *ngFor="let street of HOUSES" value="{{street.id}}">{{street.name}}</mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field class="example-full-width" appearance="fill">
  <mat-label class="label-apartments" >Number</mat-label>
  <input type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [(ngModel)]="selectedValue"
          [formControl]="myControl"
          [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="show()">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>