<form>
<mat-form-field appearance="fill">
  <mat-label class="label-house">Дом</mat-label>
  <mat-select [(value)]="idSelectHouse" (valueChange)="ChangeApart()">
    <mat-option *ngFor="let street of HOUSES" value="{{street.id}}">{{street.name}}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label class="label-apartments" >Помещение</mat-label>
  <input type="text"
          placeholder="Выберите Помещение"
          aria-label="Помещение"
          matInput
          [(ngModel)]="selectedHouse"
          [formControl]="controlApart"
          [matAutocomplete]="auto" 
          required>
  <mat-autocomplete (optionSelected)="ChangePerson()" autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredApart | async" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="controlApart.hasError('required')">Это поле должно быть заполнено</mat-error>
  <mat-error *ngIf="controlApart.hasError('invalidAutocompleteObject')">Нужно выбрать значение из списка</mat-error>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label class="label-apartments" >Житель</mat-label>
  <input type="text"
          placeholder="Выберите жителя"
          aria-label="Житель"
          matInput
          [(ngModel)]="selectedMan"
          [formControl]="controlPerson"
          [matAutocomplete]="autoNationality"
          required>
  <mat-autocomplete #autoNationality="matAutocomplete" autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn1">
    <mat-option *ngFor="let option1 of filteredPerson | async" [value]="option1">
      {{option1.name}}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="controlPerson.hasError('required')">Это поле должно быть заполнено</mat-error>
  <mat-error *ngIf="controlPerson.hasError('invalidAutocompleteObject')">Нужно выбрать значение из списка</mat-error>
</mat-form-field>

</form>