@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { 
    height: 100%;
 }
body { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #FAEEDD;
}
h4 {
    margin-bottom: 70px;
}
app-root {
    height: 100%;
    width: 380px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}